* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
.imageBack {
  background-image: url(./images/starbucks.wpp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}
h2 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 20px;
  margin-bottom: 105px;
  margin-top: 0px;
}

span {
  color: #017143;
  font-size: 80px;
  font-weight: 950;
  position: relative;
  top: 690px;
  transition: 1s;
}

p {
  color: #ffffff;
  font-size: 25px;
  position: relative;
  top: 290px;
  transition: 1s;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

button {
  color: rgb(255, 255, 255);
  background-color: #017143;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s;
  position: relative;
  top: 290px;
  transition: 1s;
}
.conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.caixa-texto {
  width: 65%;
  background-color: transparent;
  backdrop-filter: blur(0px);
  border: 4px solid none;
  border-radius: 70px;
  padding: 20px;
  margin-left: 20px;
  overflow: hidden;
}
.menu {
  display: flex;
  justify-content: center;
}

.logo {
  width: 120px;
  margin-top: 5px;
}
.starbucks {
  width: 450px;
  display: flex;
  justify-content: flex-end;
  margin-top: 400px;
}
.menu-icon {
  width: 30px;
}
.menu-coffee {
  display: flex;
  align-items: self-end;
  width: 100px;
  transition: 0.7s;
  cursor: pointer;
  margin: 10px;
}
.menu-coffee:hover {
  transform: translateY(-25px);
}
.circulo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #017143;
  top: 0;
  left: 0;
  clip-path: circle(820px at right 950px);
  z-index: -1;
}

.caixa-texto:hover p {
  top: 0;
}

.caixa-texto:hover span {
  top: 0;
}
.caixa-texto:hover button {
  top: 0;
}
.caixa-texto:hover {
  backdrop-filter: blur(10px);
}
